# Игнорировать виртуальные окружения
venv/
.env/

# Игнорировать файлы конфигурации IDE
.idea/
.vscode/

# Игнорировать файлы с настройками PyCharm
*.iml

# Игнорировать временные файлы системы
*.log
*.bak

# Игнорировать компилированные Python файлы
*.pyc
*.pyo

# Игнорировать файлы и каталоги для деплоя
*.env